﻿@model List<RegOwin.Models.CategoryViewModel>

<div class="category">
    <h3 class="category-header">Категории</h3>
    <div class="category-list">
        @{var i = 1; }
        @foreach (var item in Model)
        {
            <div class="category-name" data-toggle="collapse" data-target="#notebook-list@(i)">@item.Name <span class="expand pull-right">+</span></div>
            <ul id="notebook-list@(i++)" class="collapse">
                @foreach (var t in item.Values)
                {

                    <li>
                        <label><input type="checkbox" data-category="@item.Name" data-id="@t.Id" />@t.Value</label>
                    </li>
                }
            </ul>
        }
    </div>
    <input type="hidden" name="checkedCheckbox" data-array="" />
</div>

<script>
    $(document).ready(function () {
        var c = $(".category-name");
        c.on("click", function () {
            $(":checkbox").on("change", function (e) {
                var getProducts = $(":checkbox:checked");
                getProducts = $.map(getProducts, function (s) {
                    return { Category: $(s).attr("data-category"), Id: $(s).attr("data-id") };
                });
                $("input[name='checkedCheckbox']").attr("data-array", JSON.stringify(getProducts));
                console.log($("input[name='checkedCheckbox']").attr("data-array"));
                $.ajax({
                    url: "Home/GetProducts",
                    success: function (data) {
                        $("#products").html(data);
                    },
                    data: JSON.stringify(getProducts),
                    type: "post",
                    contentType: "application/json"
                });
            });
            if ($(this).find("span").html() === "-")
                $(this).find("span").html("+");
            else
                $(this).find("span").html("-");
        });
    });
</script>
