﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HomeIndex.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-3.1.0.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <header id="header">
        <div class="topbar">
            <div class="container">
                <div class="social"></div>
                <ul class="nav pull-right login">@Html.Partial("_UserInfo")</ul>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="logo col-sm-3">
                <a href="#">logo</a>
            </div>
            <div class="seacrh col-sm-6 text-center">Тут будет поиск</div>
            <div class="cart col-sm-3">@Html.ActionLink("Корзина", "Index", "Cart",null, new { @class="pull-right"})</div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>

        </nav>
        @RenderBody()

        @if (TempData["message"] != null)
        {
            <div>@TempData["message"].ToString()</div>
        }

    </div>
    
</body>
</html>