﻿@model RegOwin.Entities.Notebook

<div class="notebook col-md-4">
    <div class="notebookImage">
        <a href="Home/NotebookInfo"><img src="@Model.Image" class="img-responsive" /></a>
    </div>
    <div class="notebookInfo">
        <div class="notebookTitle h4">@Model.Name</div>
        <div class="notebookDescription">@Model.Description</div>
        <div class="notebookPrice">
            @Model.Price
            @using (Ajax.BeginForm("AddToCart", "Cart", new AjaxOptions { HttpMethod = "Post", OnFailure = "f1" }))
            {
                @Html.HiddenFor(m => m.Id)
                <input type="submit" class="btn btn-default pull-right" value="В корзину" />
            }

        </div>

    </div>
</div>
<script>
    function f1(data,e) {
        alert(data.responseText);
        document.location.replace("http://localhost:55782/Account/Index");
    }
</script>
