﻿
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {

        <li>@HttpContext.Current.User.Identity.Name</li>
        <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>

    }
    else
    {
        <li>@Html.ActionLink("Войти/Зарегистрироваться", "Index", "Account", new { returnUrl = @HttpContext.Current.Request.Url.AbsoluteUri }, null)</li>
    }

