﻿a{
    text-decoration:none;
}
.box{
    margin-top:20px;
    box-shadow: 0 0 5px #ddd;
    border: 1px solid #ddd;
}
.inputBox{
    padding-bottom:15px;
}
.inputText{
    width: 258px;
    padding: 10px 10px 10px 20px;
    border: 1px solid #ddd;
}
.forgetPassword{
    padding-top:30px;
}
.loginPasswordBox{    
    border-right: 1px solid #ddd;
    box-shadow: 1px 0 1px #fff;
    background-color: #f8f8f8;
    padding-bottom:30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.imgIcon{
    width:200px;
}