﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>"Ошибка 404"</title>
    <style>
        div{
            text-align:center;
        }
    </style>
</head>
<body>
    <div> 
        <img src="~/Content/Img/error-404.png" />
    </div>
</body>
</html>
