﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmUrl</title>
    <script src="~/scripts/jquery-3.1.0.min.js"></script>
</head>
<body>
    <div> 
        Ваша почта подтверждена
    </div>
    <script>
        $(document).ready(function () {
            setTimeout(redirect, 3000);
            function redirect() {
                document.location.replace("@Url.RouteUrl( new { controller = "Account", action = "Index"} )");
            }
        })
    </script>
</body>
</html>
