﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                @Html.TextBox("Email",null,new { placeholder = "Введите ваш Email" } )
            </div>
            <input type="submit" id="" value="Отправить" />
            @Html.ValidationSummary()
        }
    </div>
</body>
</html>
