﻿@model RegOwin.Models.Account.IndexViewModel
@using RegOwin.Models.Account
@{
    Layout = null;
}

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Account.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
</head>
<body>
    @Html.HiddenFor(m => m.ReturnUrl)
    <div class="container">
        <div class="row">

            <div class="col-sm-offset-1 col-sm-10 box">
                <div class="header">
                </div>
                <div class="authorisateServices text-center">
                    <h2 >Зарегистрироваться с помощью </h2>
                    <a id="authVk" href="@Url.Action("LoginVkontakte", "Account")">
                        <img class="imgIcon" src="~/Content/Img/vkontakte.jpg"/>
                    </a>
                </div>
                <div class="row loginPasswordBox">
                    <div class="col-sm-6 text-center ">
                        @Html.Partial("Login", new LoginViewModel())
                    </div>
                    <div class="col-sm-6 registration text-center">
                        @Html.Partial("Registration", new RegistrationViewModel())
                    </div>
                </div>
                <div class="row infoField">
                    @{
                        if (TempData["message"] != null)
                        {
                            @TempData["message"].ToString()
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
