﻿@model RegOwin.Models.Account.loginVkViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginVk</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(l => l.IdVk)
            @Html.HiddenFor(a=>a.AvatarUrl)
            <div>
                Введите ваш логин
                @Html.EditorFor(l => l.Login)
            </div>
            <div>
                Введите ваш email
                @Html.EditorFor(l=>l.Email)
            </div>
            <input type="submit" name="name" value="отправить" />
        }
    </div>
</body>
</html>
