﻿@model RegOwin.Models.Account.LoginViewModel
@{
    Layout = null;
}

<h3>Вход</h3>
<form method="Post" , id="loginInfo">
    <div class="inputBox">
        @Html.TextBoxFor(p => p.Name, new { @placeholder = "Логин", @class = "inputText" })
    </div>

    <div class="inputBox">@Html.TextBoxFor(p => p.Password, new { @placeholder = "Пароль", @class = "inputText" })
    </div>
    <div><input type="submit" value="Войти" id="inputLogin" class="btn btn-danger" /> </div>
    <p class="forgetPassword">@Html.ActionLink("Забыли пароль?", "ForgotPassword")</p>
</form>
<script>
    $(document).ready(function () {
        $("#inputLogin").on("click", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl(new { controller = "Account", action = "Login" })",
                data: $("#loginInfo").serialize(),
                success: function (data) {
                    if (data === "OK") {
                        document.location.replace($("#ReturnUrl").val() == "" ? "/Home/Index/" : $("#ReturnUrl").val())
                    }
                    else {
                        $(".infoField").html(data);
                    }
                }
            })
        });
    });
    function sendEmail() {
        $("#sendEmail").on("click", function (e) {
            e.preventDefault();
            console.log($(this).attr("href"));
            $.ajax({
                type: "GET",
                url: $(this).attr("href"),
                data: null,
                success: function () {
                    $(".infoField").html("На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации");
                }
            })
        })
    };

</script>
