﻿@model RegOwin.Models.Account.RegistrationViewModel

@{
    Layout = null;
}

<h3>Регистрация</h3>
<form method="Post" , id="registrationInfo">
    <div class="inputBox">
        @Html.TextBoxFor(p => p.Name, new { @placeholder = "Логин", @class = "inputText" })
    </div>
    <div class="inputBox">
        @Html.TextBoxFor(p => p.Email, new { @placeholder = "Email", @class = "inputText" })
    </div>
    <div class="inputBox">
        @Html.TextBoxFor(p => p.Password, new { @placeholder = "Пароль", @class = "inputText" })
    </div>
    <div class="inputBox">
        @Html.TextBoxFor(p => p.RePassword, new { @placeholder = "Подтверждение пароля", @class = "inputText" })
    </div>
    <div><input type="submit" value="Зарегистрироваться" id="inputRegisrtation"  class="btn btn-danger" /></div>    
</form>
<script>
    $(document).ready(function () {
        $("#inputRegisrtation").on("click", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl(new { controller = "Account", action = "Registration" })",
                data: $("#registrationInfo").serialize(),
                success: function (data) {
                    if (data === "OK") {
                        $("#registrationInfo")[0].reset();
                        $(".infoField").html("На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации");
                    }
                    else {
                        $(".infoField").html(data);
                    }
                }
            })
        });
    })
</script>


