﻿@model RegOwin.Models.ResetPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m=>m.Code)
            @Html.HiddenFor(m=>m.UserId)
            <div>
                Пароль
                <div ty>@Html.EditorFor(p => p.Password)</div>
            </div>
            <div>
                Подтверждение пароля
                <div ty>@Html.EditorFor(p => p.RePassword)</div>
            </div>
            <div><input type="submit" value="Сменить пароль" /></div>
        }
    </div>
</body>
</html>
