﻿@model RegOwin.Entities.Cart

<div>
    @foreach (var item in Model.CartLines)
    {
        <div class="productName">
            @item.Notebook.Name
        </div>
        <div class="productCount">
            @item.Count
        </div>
        <div class="productPrice">
            @item.Notebook.Price
        </div>
    }
    
</div>


