﻿@model RegOwin.Models.GetProductsViewModel
<div class="row">
    <input type="hidden" value="@Model.Notebooks"/>
    @foreach (var item in Model.Notebooks)
    {
        @Html.Partial("_NotebookInfo", item)
    }
</div>
<div class="row">
    <div class="pull-right">
        

        @for (int i = 1; i < Model.PaginationInfo.TotalPage + 1; i++)
        {
            <input type="button"  name="btnPagination" class ="btn btn-sm @((Model.PaginationInfo.CurrentPage == i ? "btn-primary" : "btn-default"))" value="@i.ToString()" />


            @*@Ajax.ActionLink(i.ToString(), "GetProducts", new { getProducts = Model.Products, page = i}, new AjaxOptions { UpdateTargetId = "products",  }, new
       {
           @class = "btn btn-sm "+ (Model.PaginationInfo.CurrentPage == i ? "btn-primary" : "btn-default")
       })*@
        }
    </div>
</div>
<script>
    $("input[name='btnPagination']").on("click", function (e) {
        e.preventDefault();
        var input = $(this).val();
        $.ajax({
            url:"Home/GetProducts?page="+input,
            type:"post",
            contentType:"application/json",
            success: function (data) {
                $("#products").html(data);
            },
            data: $("input[name='checkedCheckbox']").attr('data-array')
        });
    });
</script>