﻿@{
    ViewBag.Title = "Index";
}

<div class="page-header text-center"><h1>Ноутбуки</h1></div>
<div class="row">    
    <div class="col-md-4">
        <div class="filter">
            @Html.Action("Category","Home")
        </div>
    </div>
    <div class="col-md-8">
        <div id="products">
            @Html.Action("GetProducts", "Home")
        </div>
    </div>
</div>
